[submodule "common/.config/awesome/awesome-wm-widgets"]
	path = common/.config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets/
[submodule "common/.config/awesome/plugins/rubato"]
	path = common/.config/awesome/plugins/rubato
	url = https://github.com/andOrlando/rubato
[submodule "common/.config/awesome/json.lua"]
	path = common/.config/awesome/json/
	url = https://github.com/rxi/json.lua
[submodule "common/.config/awesome/json"]
	path = common/.config/awesome/json
	url = https://github.com/rxi/json.lua
[submodule "common/.config/awesome/plugins/bling"]
	path = common/.config/awesome/plugins/bling
	url = https://github.com/BlingCorp/bling
[submodule "common/.config/awesome/plugins/nice"]
	path = common/.config/awesome/plugins/nice
	url = https://github.com/AlphaKeks/awesome-wm-nice
[submodule "common/.config/awesome/plugins/udisks2"]
	path = common/.config/awesome/plugins/udisks2
	url = https://github.com/mireq/awesome-udisks2-mount
